/* Definindo as cores principais */
:root {
    --cor-principal: #000;
    --cor-destaque: #c8a2c8;
}

body {
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
    font-family: Arial, sans-serif;
}

a {
    color: var(--cor-destaque);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3 {
    color: var(--cor-destaque);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}




input[type="text"],
input[type="email"],
textarea {}

button[type="submit"] {}

form {
    width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}